node_modules
coverage
build
dist
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#docker
.env

#amplify
web/amplify/\#current-cloud-backend
web/amplify/.config/local-*
web/amplify/backend/amplify-meta.json
web/amplify/backend/awscloudformation
aws-exports.js

#serverless
.serverless

#next
.next/
out/
.serverless_nextjs/
