{{#> layouts/base.html }}
{{#*inline "body-block"}}
Félicitation, <a href="{{getVideoNodeLink videoNode}}">{{videoNode.title}}</a> a été approuvé au sein de la collection <a href="{{getCollectionLink collection}}">{{collection.name}}</a>.
<br /><br />
{{/inline}}
{{/layouts/base.html}}
