{{#> layouts/base.txt }}
{{#*inline "body-block"}}
{videoNode.title}} a bien été mis en ligne.
Il est maintenant disponible au sein de la collection "La scène ouverte", qui regroupe l'ensemble des réalisations mises en ligne sur Claptime.
Libre à vous maintenant de le soumettre, si vous le souhaitez, dans d'autres collections afin d'augmenter sa visibilité et le faire découvrir à de nouveaux publics !

De la même façon, et si ça n'est pas déjà fait, n'hésitez pas à :
- Partagez le lien sur vos réseaux sociaux et parlez de Claptime autour de vous. Le bouche à oreille, ça compte !
- Activez les dons ({{helpCenterUrl}} pour plus d'infos</a>)
{{/inline}}
{{/layouts/base.txt}}
