{{#> layouts/base.html }}
{{#*inline "body-block"}}
{{profile.name}} vient de mettre en ligne un nouveau film sur Claptime : {{videoNode.title}}
<br />
Pour découvrir cette nouveauté, <a href="{{getVideoNodeLink videoNode}}">c'est par ici !</a>
<br /><br />
{{/inline}}
{{/layouts/base.html}}