{{#> layouts/base.html }}
{{#*inline "body-block"}}
Nouvelle soumission dans votre collection <b>{{collection.name}}</b> : "{{videoNode.title}}".
Découvrez-la <a href="{{getVideoNodeLink videoNode}}">à cette adresse</a> et choisissez si vous souhaitez l'intégrer à
votre collection.
{{/inline}}
{{/layouts/base.html}}
