<p>Une question ? Répondez à cet email, nous nous ferons un plaisir de vous apporter des précisions.</p>
<div>
  <p>Cinéphilement,</p>
  <p style="color: #5a6fb2; font-size: 16px;">L'équipe Claptime</p>
  <p> Retrouvez-nous sur <a href="http://www.facebook.com/itsclaptime" target="_blank">Facebook</a> et <a href="http://www.instagram.com/itsclaptime" target="_blank">Instagram</a> !
  </p>
</div>